<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <link rel="stylesheet" href="/css/master.css">
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <p class=logo>Daily Journal</p>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
      </nav>
    </div>
  </header>
